@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


body {
    font-family: 'Acme', sans-serif;
}

.section-search input{
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
    margin: 5px 10px;
    font-size: 3rem;
    transition: .5s;
}

.section-follow .fa-4x:hover{
    transform: translateY(.2rem);
}

.target {
    transition: .3s;
}

.target:hover {
    transform: translateY(-.4rem);
}

img {
    height: 150px;
}

.card-title{
    text-align: center;
}

.content {
    text-align: center;
}